@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@charset "utf-8";

@primary-color: #000;
.border-radius{
  border-radius: 5px;
}
body{
  background:url(https://newevolutiondesigns.com/images/freebies/los-angeles-beach.jpg) no-repeat fixed;
  background-size:cover;
  background-position:50%;
  font-family: 'Roboto';
  color: #fff;
}
.tabs, .form{
  width: 390px;
  opacity: 0.8;
  .border-radius;
}
.tabs{
  background: #1ab188;
  height: 60px;
  margin: 25px auto 10px;
  color: #000;
 }
.form{
  height: 300px;
  margin: 25px auto;
  background: @primary-color;
 }

li{
    display : block;
    width: 40%;
    height: 30px;
    vertical-align: middle;
    float: left;
    margin: 15px;
    padding: 0;
    border-right: 1px solid #fff;
      &:last-child{
        border: none;
      }
    a{
      text-decoration: none;
      padding: 10px 20px;
      color: #fff;
      font-size: 18px;
      &:hover{
        color: #fff;
        text-decoration: none;
      }
      &:active{
        color: #fff;
        text-decoration: none;
      }
      &:link{
        color: #fff;
        text-decoration: none;
      }
    }
    
}
.container{
  margin-top: 20px; 
}
.input{
  margin: 20px 0;
}
input.main-form{
  border: 1px solid #a0b3b0;
  display: block;
  width: 100%;
  height: 40px;
  color: #fff;
  background: #000;
  font-size: 16px;
}
input[type="checkbox"]{
  margin-right: 5px;
  vertical-align: top;
}
.input a{
  color: #fff;
}
.form input.btn{
  background: #1ab188;
  border: none;
}



.form-login {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto;
	background-color: #fff;	
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);			
	font-family:Tahoma, Geneva, sans-serif;
	color:#990000;
	font-weight:lighter;
}
.form-login .form-login-heading {
    color:#00A2D1;
}
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}
.body-container {
	margin-top:110px;
}
.navbar-brand {
	font-weight: bold;
}
#btn-submit{
	height:45px;
}

.hide {
    display: none;
}

.error {
    color: red;
}

ul.nav{text-align:center;}
.nav li {display: ruby-base;}
.navbar-nav > li {

    float: none !important;

}
